* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #1f1f1f;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 80px;
  align-items: center;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
}

.btn-outline {
  border: 1px solid #000;
  background: none;
  padding: 8px 16px;
  border-radius: 5px;
}

/* HERO */
.hero {
  display: flex;
  padding: 80px;
  align-items: center;
}

.hero-text {
  max-width: 50%;
}

.tag {
  color: #ff6b35;
  font-weight: 600;
  font-size: 14px;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 56px;
  margin: 20px 0;
}

.hero-buttons {
  margin-top: 30px;
}

.btn-primary {
  background: #ff6b35;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  margin-right: 15px;
}

.btn-play {
  background: none;
  border: none;
  color: #555;
  font-weight: 500;
}

/* SERVICES */
.services {
  text-align: center;
  padding: 80px;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  margin-top: 50px;
}

.card {
  padding: 30px;
  border-radius: 15px;
}

.card.active {
  background: #fff;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

/* DESTINATIONS */
.destinations {
  padding: 80px;
  text-align: center;
}

.destination-cards {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.destination {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.destination img {
  width: 100%;
}

/* BOOKING */
.booking {
  display: flex;
  padding: 80px;
  gap: 60px;
}

.booking-card {
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* TESTIMONIAL */
.testimonial {
  padding: 80px;
}

.review {
  background: #fff;
  padding: 30px;
  width: 400px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

/* SUBSCRIBE */
.subscribe {
  padding: 80px;
  text-align: center;
  background: #f6f6ff;
}

.subscribe-box {
  margin-top: 20px;
}

.subscribe input {
  padding: 12px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* FOOTER */
footer {
  padding: 60px 80px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

   /* RESPONSIVE DESIGN */

/* Tablets */
@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .service-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .guidelines-container {
    grid-template-columns: 1fr;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .destination-cards {
    flex-direction: column;
  }

  .booking {
    flex-direction: column;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
